#avatar {
    max-height: 500px;
}

#links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
}

a {
    text-decoration: none;
}
/* twitch */
i.bi-twitch:hover {
    color: #6441a5;
}
/* youtube */
i.bi-youtube:hover {
    color: #ff0000;
}
/* telegram */
i.bi-telegram:hover {
    color: #0088cc;
}
/* discord */
i.bi-discord:hover {
    color: #5865F2;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}
[data-theme="light"],
:root:not([data-theme="dark"]) {
  --pico-primary: #058686;
}

[data-theme="dark"],
:root:not([data-theme="light"]) {
  --pico-primary: #0AC2C2;
}

@media (prefers-color-scheme: light) {
    #stellaris-logo {
        filter: invert(100%);
    }
}
hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}